###########
# Visuals
###########

font-size = 14
font-family = "Noto Mono"

###########
# Keybinds
###########

# Open scrollback in a file
keybind = ctrl+shift+s=write_scrollback_file:open
# Clear scrollback
keybind = ctrl+shift+k=clear_screen

###########
# Other
###########

# Hide header bar
window-decoration = false

